<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSL Admin</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Добавить домены</h1>
    <form method="POST" action="/admin/add">
        <textarea name="domains" rows="5" cols="50" placeholder="example.com\nftp://ftp.example.com"></textarea><br>
        <button type="submit">Добавить</button>
    </form>
    <h2>Существующие домены</h2>
    <ul>
        {{range .}}
            <li>{{.}}</li>
        {{end}}
    </ul>
</body>
</html>
